@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

* {
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: white;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 30px;
  height: 100vh;
}

.success-message {
  background: rgb(54, 50, 50);
  padding: 10px;
  color: white;
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 40vh;
  box-shadow: 10px 10px 20px #1d232b;
}

.home-message a {
  color: #ff8b1d;
  font-size: 20px;
}
